table {
    border-collapse: collapse;
    margin-bottom: 2em;
    width: 100%;

    caption {
        font-weight: 700;
        margin-bottom: .5em;
    }

    tr {
        border-bottom: 1px solid lighten($color-border, 15%);
        margin-bottom: .5em;
    }

    &.alternating {
        tr:nth-child(even) {
            background-color: $color-table-row;
        }
    }

    th {
        font-size: .95em;
        text-align: left;
    }

    th,
    td {
        padding: 7px;
    }
}
